# DFNS API Configuration
DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID='your-org-id'
DFNS_CRED_ID='your-cred-id'
DFNS_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\nYour Private Key Here\n-----END PRIVATE KEY-----'
DFNS_AUTH_TOKEN='your-auth-token'

# Contract and Wallet Configuration
SENDER_WALLET_ID='wa-your-wallet-id'
POLICY_USER_ID='us-your-user-id'
CONTRACT_ADDRESS='0x007cb8aafaa9eb5b411ebece99f1671a286d2ee8'
WHITELIST_ADDRESS='0x126b39aFd4c1027168bf936B68C4d011793E7609'
